// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

$gw_blue_primary: #033C5A;
$gw_gold_primary: #AA9868;
$gw_blue_accent: #0190DB;
$gw_gold_accent: #F9E08E;

$base-font-size: 14px !default;
$base-font-weight: 400 !default;

$link-base-color: $gw_blue_accent;
$link-hover-color: $gw_gold_accent;
$link-visited-color: $gw_blue_accent;

body{
    font-family: Figtree;
}

a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.site-header {
    background-color: $gw_blue_primary;
    color: white;
    max-height: $spacing-unit * 2;
    border-top: 5px solid $gw_gold_primary;
    border-bottom: 5px solid $gw_gold_primary;

}

.site-header img {
    max-height: $spacing-unit * 1.5;
    object-fit: contain;
    float:left;
    padding: $spacing-unit *.25;
}

.site-title, .site-title:visited {
    color: white;
    float: center;
}

.site-footer {
    border-top: 5px solid $gw_blue_primary;
    border-bottom: 5px solid $gw_blue_primary;
    background-color: $gw_gold_accent;
}

.site-footer p{
    color: $gw_blue_primary;

}

.reg-link{
    text-align:center;
}

.reg-link button {
    border-radius: 10px;
    border: 2px solid black;
    width: $content-width/5;
    color: $gw_gold_accent;
    background-color: $gw_blue_accent;
    font-size: $base-font-size*1.25;
    transition-duration: 0.4s;
//    margin-left:auto;
//  margin-right:auto;
}

.reg-link button:hover{
    background-color: $gw_blue_primary;
}

.reg-link button:active{
    background-color: $gw_blue_primary;
    box-shadow: 0 5px #666;
    border: 2px solid gray;
    transform: translateY(2px);

}
